CONFIG_BCM4375=m
CONFIG_CAMERA_CIS_2LD_OBJ=m
CONFIG_CAMERA_CIS_3J1_OBJ=m
CONFIG_CAMERA_CIS_GW2_OBJ=m
CONFIG_CAMERA_CIS_IMX563_OBJ=m
CONFIG_CAMERA_USU_V01=y
CONFIG_CHARGER_PCA9468=m
CONFIG_EVASION_DISP_DET=y
CONFIG_EXTEND_LIVE_CLOCK=y
CONFIG_EXYNOS_DECON_LCD_COPR=y
CONFIG_EXYNOS_DECON_LCD_S6E3FAB=m
CONFIG_MAX77705_VIBRATOR=m
CONFIG_MFD_S2MPB02=m
CONFIG_PD_CHARGER_HV_DISABLE=y
CONFIG_PWM_CONFIG=m
CONFIG_SENSORS=y
CONFIG_SENSORS_ISG5320A=m
CONFIG_SENSORS_ISG5320A_O1S=y
CONFIG_SENSORS_QBT2000=m
CONFIG_SENSORS_SSP_UNBOUND=y
CONFIG_SENSORS_TSL2510=m
CONFIG_SUPPORT_DDI_FLASH=y
CONFIG_SUPPORT_DISPLAY_PROFILER=y
CONFIG_SUPPORT_GM2_FLASH=y
CONFIG_SUPPORT_HMD=y
CONFIG_SUPPORT_MAFPC=y
CONFIG_SUPPORT_POC_SPI=y
CONFIG_TOUCHSCREEN_SLSI=m
CONFIG_TX_GEAR_AOV=y
CONFIG_BCMDHD_PCIE=y
# CONFIG_BCMDHD_PREALLOC_PKTIDMAP is not set
CONFIG_CAMERA_FLASH_S2MPB02_OBJ=m
CONFIG_LEDS_S2MPB02=m
CONFIG_REGULATOR_S2MPB02=m
# CONFIG_SUPPORT_DIM_FLASH is not set
CONFIG_WLAIBSS=y
# CONFIG_WLAN_BCM4375_ADVANCED_FEATURES is not set
CONFIG_WLAN_SOFTAP_HE_ENABLE=y
CONFIG_WL_RELMCAST=y
