CONFIG_BCM4389=m
CONFIG_CAMERA_CIS_3J1_OBJ=m
CONFIG_CAMERA_CIS_GH1_OBJ=m
CONFIG_CAMERA_CIS_HM1_OBJ=m
CONFIG_CAMERA_CIS_HM3_OBJ=m
CONFIG_CAMERA_CIS_IMX563_OBJ=m
CONFIG_CAMERA_USU_V03=y
CONFIG_CHARGER_PCA9468=m
CONFIG_EPEN_WACOM_W9020=m
CONFIG_EXTEND_LIVE_CLOCK=y
CONFIG_EXYNOS_DECON_LCD_COPR=y
CONFIG_EXYNOS_DECON_LCD_S6E3HAD=m
CONFIG_INPUT_WACOM=m
CONFIG_MFD_S2MPB02=m
CONFIG_MOTOR_CS40L2X=m
CONFIG_PD_CHARGER_HV_DISABLE=y
# CONFIG_RBIN is not set
CONFIG_REGULATOR_S2DOS05=m
CONFIG_SAMSUNG_UWB=m
CONFIG_SEC_UWB_LOGGER=y
CONFIG_SENSORS=y
CONFIG_SENSORS_QBT2000=m
CONFIG_SENSORS_SSP_UNBOUND=y
CONFIG_SENSORS_SX9364=m
CONFIG_SENSORS_TSL2510=m
CONFIG_SENSORS_VL53L5=m
CONFIG_SENSORS_VL53L5_SLSI=y
CONFIG_SENSORS_VL53L5_SUPPORT_KERNEL_INTERFACE=y
CONFIG_SENSORS_VL53L5_SUPPORT_UAPI=y
CONFIG_SUPPORT_BRIGHTDOT_TEST=y
CONFIG_SUPPORT_DISPLAY_PROFILER=y
CONFIG_SUPPORT_HMD=y
CONFIG_SUPPORT_MAFPC=y
CONFIG_TOUCHSCREEN_SLSI=m
CONFIG_TX_GEAR_AOV=y
CONFIG_UWB_SR100=y
CONFIG_BCMDHD_PCIE=y
# CONFIG_BCMDHD_PREALLOC_PKTIDMAP is not set
CONFIG_CAMERA_FLASH_S2MPB02_OBJ=m
CONFIG_CAMERA_LASER_AF_VL53L5_OBJ=m
CONFIG_CS40L2X_SAMSUNG_FEATURE=y
CONFIG_LEDS_S2MPB02=m
CONFIG_REGULATOR_S2MPB02=m
CONFIG_WLAIBSS=y
CONFIG_WL_RELMCAST=y
