CONFIG_AFC=y
CONFIG_AFC_CHARGER_MODE=y
CONFIG_ANDROID_SWITCH=m
CONFIG_ARCH_EXYNOS=y
CONFIG_ARCH_SUPPORTS_SPECULATIVE_PAGE_FAULT=y
CONFIG_ARGOS=m
CONFIG_ARM_EXYNOS_DSU_FREQ=m
CONFIG_BATTERY_AGE_FORECAST=y
CONFIG_BATTERY_CISD=y
CONFIG_BATTERY_GKI=y
CONFIG_BATTERY_SAMSUNG=m
CONFIG_BLK_SEC_STATS=m
CONFIG_BT_BCM43XX=m
CONFIG_CCIC_MAX77705=m
CONFIG_CLKSRC_EXYNOS_MCT=m
CONFIG_CMDLINE="androidboot.selinux=permissive"
CONFIG_COMMON_CLK_SAMSUNG=m
CONFIG_CONNECTOR=y
CONFIG_CPU_FREQ_GOV_ENERGYSTEP=y
# CONFIG_CPU_IDLE_GOV_MENU is not set
CONFIG_CPU_IDLE_GOV_TEO=y
CONFIG_CRYPTO_SHA1_ARM64_CE=y
CONFIG_DDAR=y
CONFIG_DEV_RIL_BRIDGE=m
CONFIG_DIRECT_CHARGING=m
CONFIG_DMA_BUF_CONTAINER=m
CONFIG_DM_ANDROID_VERITY_AT_MOST_ONCE_DEFAULT_ENABLED=y
CONFIG_DRV_SAMSUNG=m
CONFIG_DRV_SAMSUNG_PMIC=m
CONFIG_ENABLE_FULL_BY_SOC=y
CONFIG_ESE_USE_TZ_API=y
CONFIG_EXYNOS_BTS=m
CONFIG_EXYNOS_FMP=m
CONFIG_EXYNOS_PASR=y
CONFIG_F2FS_FS_COMPRESSION=y
CONFIG_FB=m
CONFIG_FINGERPRINT_SECURE=y
CONFIG_FIVE=y
CONFIG_FOTA_LIMIT=y
CONFIG_GAF=y
CONFIG_GKI_USB=y
# CONFIG_HARDEN_BRANCH_PREDICTOR is not set
CONFIG_HID_SAMSUNG=y
CONFIG_HPA=y
CONFIG_HV_MUIC_MAX77705_AFC=y
CONFIG_I2C_CHARDEV=m
CONFIG_IF_CB_MANAGER=m
CONFIG_INCREMENTAL_FS=y
CONFIG_INPUT_HALL_IC=m
CONFIG_INPUT_SEC_INPUT=m
CONFIG_INPUT_SEC_NOTIFIER=m
CONFIG_INPUT_SEC_SECURE_TOUCH=m
CONFIG_INPUT_TOUCHSCREEN_TCLMV2=m
CONFIG_INTEGRITY_SIGNATURE=y
CONFIG_ION_EXYNOS=m
CONFIG_ION_EXYNOS_CARVEOUT_HEAP=y
CONFIG_ION_EXYNOS_CMA_HEAP=y
CONFIG_IP_NF_MATCH_RPFILTER=y
CONFIG_KNOX_NCM=y
CONFIG_KZEROD=y
CONFIG_LOG_BUF_SHIFT=21
CONFIG_LSM_MMAP_MIN_ADDR=4096
CONFIG_MALI_MIDGARD=m
CONFIG_MCPS=m
CONFIG_MEMORY_HOTREMOVE=y
CONFIG_MFD_MAX77705=m
CONFIG_MFD_S2MPS23=m
CONFIG_MFD_S2MPS24=m
CONFIG_MMC_DW=m
CONFIG_MQ_IOSCHED_SSG=m
CONFIG_MUIC_MAX77705_PDIC=y
CONFIG_NETFILTER_XT_TARGET_LOG=y
CONFIG_NET_ACT_BPF=y
CONFIG_NET_ACT_MIRRED=y
CONFIG_NET_ACT_POLICE=y
CONFIG_NET_CLS_BASIC=y
CONFIG_NET_CLS_MATCHALL=y
CONFIG_NET_SCH_PRIO=y
CONFIG_NFC_FEATURE_SN100U=y
CONFIG_NFC_PN547=y
CONFIG_NF_LOG_IPV4=y
CONFIG_NF_LOG_IPV6=y
CONFIG_NTFS_FS=y
CONFIG_PCI_EXYNOS=m
CONFIG_PCI_EXYNOS_2100=m
CONFIG_PDIC_NOTIFIER=m
CONFIG_PINCTRL_SAMSUNG=m
CONFIG_PM_DEBUG=y
CONFIG_PREVENT_USB_CONN_OVERHEAT=y
CONFIG_PRINTK_PROCESS=y
CONFIG_PROC_AVC=y
CONFIG_PSTORE_PMSG=y
CONFIG_REGULATOR_S2MPB03=m
# CONFIG_RUNTIME_TESTING_MENU is not set
CONFIG_SAMSUNG_FREECESS=y
CONFIG_SAMSUNG_IOMMU=m
CONFIG_SAMSUNG_IOMMU_GROUP=m
CONFIG_SAMSUNG_NFC=m
CONFIG_SAMSUNG_PRODUCT_SHIP=y
CONFIG_SAMSUNG_TUI=m
CONFIG_SCHED_EMS=y
CONFIG_SCSI_UFS_EXYNOS=m
CONFIG_SDP=y
CONFIG_SECURITY_DEFEX=y
CONFIG_SECURITY_DSMS=y
CONFIG_SEC_BOOTSTAT=m
CONFIG_SEC_DEBUG=y
CONFIG_SEC_DEBUG_TSP_LOG=m
CONFIG_SEC_INPUT_BOOSTER=m
CONFIG_SEC_KEY_NOTIFIER=m
CONFIG_SEC_NFC_LOGGER=y
CONFIG_SEC_PARAM=m
CONFIG_SEC_PD=m
CONFIG_SEC_PM=y
CONFIG_SEC_PMIC_PWRKEY=y
CONFIG_SEC_REBOOT=m
CONFIG_SEC_STI=y
CONFIG_SEC_VIBRATOR=m
CONFIG_SEC_VIB_NOTIFIER=y
CONFIG_SENSORS_AK09918C=y
CONFIG_SENSORS_DYNAMIC_SENSORLIST=y
CONFIG_SENSORS_FINGERPRINT=m
CONFIG_SENSORS_FINGERPRINT_LSI=y
CONFIG_SENSORS_FINGERPRINT_MODULE=y
CONFIG_SENSORS_ICM42632M=y
CONFIG_SENSORS_LPS22H=y
CONFIG_SENSORS_LPS25H=y
CONFIG_SENSORS_LSM6DSO=y
CONFIG_SENSORS_MULTIPLE_GLASS_TYPE=y
CONFIG_SENSORS_SSP=y
CONFIG_SENSORS_SSP_BBD=y
CONFIG_SENSORS_SSP_HIFI_BATCHING=y
CONFIG_SENSORS_SSP_INTERRUPT_GYRO_SENSOR=y
CONFIG_SENSORS_SSP_IRDATA_FOR_CAMERA=y
CONFIG_SENSORS_SSP_LIGHT_ADDING_LUMINANCE=y
CONFIG_SENSORS_SSP_LIGHT_LUX_RAW=y
CONFIG_SENSORS_SSP_LIGHT_MAX_ATIME_2BYTE=y
CONFIG_SENSORS_SSP_LIGHT_MAX_GAIN_2BYTE=y
CONFIG_SENSORS_SSP_LIGHT_REPORT_LUX=y
CONFIG_SENSORS_SSP_MOBEAM=y
CONFIG_SENSORS_SSP_PROX_LIGHT_DIFF=y
CONFIG_SENSORS_SSP_SENSORHUB=y
CONFIG_SENSORS_SSP_THERMISTOR=y
CONFIG_SENSORS_STK33910=y
CONFIG_SENSORS_SYSFS=y
CONFIG_SENSORS_TMD4907=y
CONFIG_SENSORS_TMD4912=y
CONFIG_SND_SOC_CIRRUS_AMP=m
CONFIG_SND_SOC_CS35L41=m
CONFIG_SND_SOC_CS35L41_I2C=m
CONFIG_SOC_EXYNOS2100=y
CONFIG_SPI_SPIDEV=m
CONFIG_SPU_VERIFY=m
CONFIG_SSP_MOTOR_CALLBACK=y
CONFIG_SSP_SUPPORT_MAGNETIC_OVERFLOW=y
CONFIG_STAR_K250A_LEGO=m
CONFIG_STEP_CHARGING=y
CONFIG_SUPPORT_DROPDUMP=m
CONFIG_SUPPORT_USB_TYPEC_OPS=y
CONFIG_TCP_CONG_ADVANCED=y
CONFIG_TEEGRIS_VERSION=4
CONFIG_TOUCHSCREEN_DUMP_MODE=m
CONFIG_TRANSPARENT_HUGEPAGE=y
CONFIG_TRIM_UNUSED_KSYMS=y
CONFIG_TZDEV=m
CONFIG_TZDEV_IWI_EVENT=900
CONFIG_TZDEV_IWI_PANIC=901
CONFIG_TZDEV_SK_MULTICORE=y
CONFIG_TZDEV_SWD_PANIC_IS_CRITICAL=y
CONFIG_TZIRS=y
CONFIG_TZLOG=y
CONFIG_TZ_BOOT_LOG=y
CONFIG_UFS_SRPMB=m
CONFIG_UH=y
# CONFIG_UNMAP_KERNEL_AT_EL0 is not set
CONFIG_USB_ACM=m
CONFIG_USB_ANNOUNCE_NEW_DEVICES=y
CONFIG_USB_ARCH_EXYNOS=y
CONFIG_USB_CONFIGFS_F_CONN_GADGET=m
CONFIG_USB_CONFIGFS_F_DM=m
CONFIG_USB_CONFIGFS_F_MTP=m
CONFIG_USB_CONFIGFS_F_SS_MON_GADGET=m
CONFIG_USB_DEBUG_DETAILED_LOG=y
CONFIG_USB_DWC3=y
CONFIG_USB_DWC3_MODULE=m
CONFIG_USB_EHSET_TEST_FIXTURE=y
CONFIG_USB_HOST_CERTIFICATION=y
CONFIG_USB_HOST_SAMSUNG_FEATURE=y
CONFIG_USB_INTERFACE_LPM_LIST=y
CONFIG_USB_LINK_LAYER_TEST=y
CONFIG_USB_NET_AQC111=y
CONFIG_USB_NET_CDC_EEM=m
CONFIG_USB_NET_CDC_NCM=m
CONFIG_USB_NET_NET1080=m
CONFIG_USB_NET_SMSC75XX=m
CONFIG_USB_NET_SMSC95XX=m
CONFIG_USB_NOTIFY_LAYER=m
CONFIG_USB_PRINTER=m
CONFIG_USB_RNDIS_MULTIPACKET=y
CONFIG_USB_RTL8150=m
CONFIG_USB_SERIAL=m
CONFIG_USB_TYPEC_MANAGER_NOTIFIER=m
CONFIG_USB_WDM=m
CONFIG_USB_XHCI_HCD=m
CONFIG_USE_MUIC=y
CONFIG_VBUS_NOTIFIER=m
CONFIG_VIDEO_EXYNOS_CAMERA_POSTPROCESS=m
CONFIG_VIDEO_EXYNOS_MFC=m
CONFIG_VIDEO_EXYNOS_PABLO_ISP=m
CONFIG_VIDEO_EXYNOS_REPEATER=m
CONFIG_VIDEO_EXYNOS_TSMUX=m
CONFIG_VISION_SUPPORT=y
CONFIG_WLAN_VENDOR_DUMP_ENABLE=y
CONFIG_WQ_WATCHDOG=y
# CONFIG_ABOX_CMPNT_TEST is not set
# CONFIG_ABOX_SHM_TEST is not set
# CONFIG_ABOX_TEST is not set
CONFIG_ACPM_DVFS=m
CONFIG_AF_HOST_CONTROL=y
CONFIG_ARGOS_CLUSTER_NUM=3
CONFIG_ARM_EXYNOS_ACME=m
# CONFIG_ARM_EXYNOS_BUS_DEVFREQ is not set
CONFIG_ARM_EXYNOS_DEVFREQ=m
CONFIG_ARM_EXYNOS_DEVFREQ_DEBUG=m
CONFIG_ARM_FREQ_QOS_TRACER=m
# CONFIG_BOOT_DEVICE_SPI is not set
# CONFIG_CACHED_LEGACY_RAW_RX_BUFFER is not set
CONFIG_CAL_IF=m
# CONFIG_CAMERA_ACT_AK7345_OBJ is not set
# CONFIG_CAMERA_ACT_AK7348_OBJ is not set
# CONFIG_CAMERA_ACT_AK7371_OBJ is not set
# CONFIG_CAMERA_ACT_AK7372_OBJ is not set
CONFIG_CAMERA_ACT_AK737X_OBJ=m
# CONFIG_CAMERA_ACT_DW9714_OBJ is not set
# CONFIG_CAMERA_ACT_DW9780_OBJ is not set
# CONFIG_CAMERA_ACT_DW9804_OBJ is not set
# CONFIG_CAMERA_ACT_DW9807_OBJ is not set
# CONFIG_CAMERA_ACT_DW9808_OBJ is not set
# CONFIG_CAMERA_ACT_DW9823_OBJ is not set
# CONFIG_CAMERA_ACT_DW9839_OBJ is not set
# CONFIG_CAMERA_ACT_LC898217_OBJ is not set
CONFIG_CAMERA_ACT_SELECT=y
# CONFIG_CAMERA_ACT_ZC533_OBJ is not set
# CONFIG_CAMERA_ACT_ZC569_OBJ is not set
# CONFIG_CAMERA_APERTURE_SELECT is not set
# CONFIG_CAMERA_CIS_2L1_OBJ is not set
# CONFIG_CAMERA_CIS_2L2_OBJ is not set
# CONFIG_CAMERA_CIS_2L3_OBJ is not set
# CONFIG_CAMERA_CIS_2L4_OBJ is not set
# CONFIG_CAMERA_CIS_2L7_OBJ is not set
# CONFIG_CAMERA_CIS_2LA_OBJ is not set
# CONFIG_CAMERA_CIS_2LD_OBJ is not set
# CONFIG_CAMERA_CIS_2P2_OBJ is not set
# CONFIG_CAMERA_CIS_2P6_OBJ is not set
# CONFIG_CAMERA_CIS_2P7SQ_OBJ is not set
# CONFIG_CAMERA_CIS_2P7SX_OBJ is not set
# CONFIG_CAMERA_CIS_2P8_OBJ is not set
# CONFIG_CAMERA_CIS_2T7SX_OBJ is not set
# CONFIG_CAMERA_CIS_2X5_OBJ is not set
# CONFIG_CAMERA_CIS_3H1_C3_OBJ is not set
# CONFIG_CAMERA_CIS_3H1_OBJ is not set
# CONFIG_CAMERA_CIS_3J1_OBJ is not set
# CONFIG_CAMERA_CIS_3L2_OBJ is not set
# CONFIG_CAMERA_CIS_3M2_OBJ is not set
# CONFIG_CAMERA_CIS_3M3_OBJ is not set
# CONFIG_CAMERA_CIS_3M5_OBJ is not set
# CONFIG_CAMERA_CIS_3P3_OBJ is not set
# CONFIG_CAMERA_CIS_3P8SP_OBJ is not set
# CONFIG_CAMERA_CIS_3P8_OBJ is not set
# CONFIG_CAMERA_CIS_3P9_OBJ is not set
# CONFIG_CAMERA_CIS_4E6_OBJ is not set
# CONFIG_CAMERA_CIS_4H5YC_OBJ is not set
# CONFIG_CAMERA_CIS_4H5_OBJ is not set
# CONFIG_CAMERA_CIS_4HA_OBJ is not set
# CONFIG_CAMERA_CIS_5E2_OBJ is not set
# CONFIG_CAMERA_CIS_5E3_OBJ is not set
# CONFIG_CAMERA_CIS_5E6_OBJ is not set
# CONFIG_CAMERA_CIS_5E9_OBJ is not set
# CONFIG_CAMERA_CIS_5F1_OBJ is not set
# CONFIG_CAMERA_CIS_6B2_OBJ is not set
# CONFIG_CAMERA_CIS_GC5035_OBJ is not set
# CONFIG_CAMERA_CIS_GD1_OBJ is not set
# CONFIG_CAMERA_CIS_GH1_OBJ is not set
# CONFIG_CAMERA_CIS_GM1SP_OBJ is not set
# CONFIG_CAMERA_CIS_GM2_OBJ is not set
# CONFIG_CAMERA_CIS_GW1_OBJ is not set
# CONFIG_CAMERA_CIS_GW2_OBJ is not set
# CONFIG_CAMERA_CIS_HI1336_OBJ is not set
# CONFIG_CAMERA_CIS_HI847_OBJ is not set
# CONFIG_CAMERA_CIS_HM1_OBJ is not set
# CONFIG_CAMERA_CIS_HM3_OBJ is not set
# CONFIG_CAMERA_CIS_IMX219_OBJ is not set
# CONFIG_CAMERA_CIS_IMX241_OBJ is not set
# CONFIG_CAMERA_CIS_IMX258_OBJ is not set
# CONFIG_CAMERA_CIS_IMX260_OBJ is not set
# CONFIG_CAMERA_CIS_IMX316_OBJ is not set
# CONFIG_CAMERA_CIS_IMX320_C3_OBJ is not set
# CONFIG_CAMERA_CIS_IMX320_OBJ is not set
# CONFIG_CAMERA_CIS_IMX333_OBJ is not set
# CONFIG_CAMERA_CIS_IMX516_OBJ is not set
# CONFIG_CAMERA_CIS_IMX518_OBJ is not set
# CONFIG_CAMERA_CIS_IMX555_OBJ is not set
# CONFIG_CAMERA_CIS_IMX563_OBJ is not set
# CONFIG_CAMERA_CIS_IMX576_OBJ is not set
# CONFIG_CAMERA_CIS_IMX582_OBJ is not set
# CONFIG_CAMERA_CIS_IMX586_OBJ is not set
# CONFIG_CAMERA_CIS_IMX616_OBJ is not set
# CONFIG_CAMERA_CIS_IMX686_OBJ is not set
# CONFIG_CAMERA_CIS_RPB_OBJ is not set
CONFIG_CAMERA_CIS_SELECT=y
# CONFIG_CAMERA_CIS_SR259_OBJ is not set
# CONFIG_CAMERA_CIS_TOF_BUCK_USE is not set
# CONFIG_CAMERA_CIS_VIRTUAL_OBJ is not set
CONFIG_CAMERA_DVFS_V2=y
# CONFIG_CAMERA_EEPROM_SELECT is not set
CONFIG_CAMERA_EEPROM_SUPPORT_FRONT=m
CONFIG_CAMERA_EEPROM_SUPPORT_REAR=m
# CONFIG_CAMERA_FLASH_GPIO_OBJ is not set
# CONFIG_CAMERA_FLASH_I2C_OBJ is not set
# CONFIG_CAMERA_FLASH_KTD2692_OBJ is not set
# CONFIG_CAMERA_FLASH_LM3560_OBJ is not set
# CONFIG_CAMERA_FLASH_RT5033_OBJ is not set
# CONFIG_CAMERA_FLASH_S2MU106_OBJ is not set
# CONFIG_CAMERA_FLASH_S2MU107_OBJ is not set
CONFIG_CAMERA_FLASH_SELECT=y
# CONFIG_CAMERA_OIS_SELECT is not set
# CONFIG_CAMERA_OTPROM_SUPPORT_REAR is not set
# CONFIG_CAMERA_PAFSTAT is not set
CONFIG_CAMERA_PDP=y
# CONFIG_CAMERA_PP_GDC_V1_0_0_OBJ is not set
# CONFIG_CAMERA_PP_GDC_V2_0_0_OBJ is not set
# CONFIG_CAMERA_PP_GDC_V2_1_0_OBJ is not set
# CONFIG_CAMERA_PP_GDC_V3_0_0_OBJ is not set
# CONFIG_CAMERA_PP_GDC_V3_10_0_OBJ is not set
# CONFIG_CAMERA_PP_GDC_V3_1_0_OBJ is not set
CONFIG_CAMERA_PP_GDC_V4_1_0_OBJ=m
# CONFIG_CAMERA_RSU_V09 is not set
CONFIG_CAMERA_USE_INTERNAL_MCU=y
# CONFIG_CAMERA_USE_MCU is not set
# CONFIG_CAMERA_USU_V01 is not set
# CONFIG_CAMERA_USU_V02 is not set
# CONFIG_CAMERA_USU_V03 is not set
# CONFIG_CAMERA_VENDER_DEFAULT is not set
CONFIG_CAMERA_VENDER_MCD=y
# CONFIG_CCIC_MAX77705_DEBUG is not set
# CONFIG_CHARGER_DUMMY is not set
CONFIG_CHARGER_MAX77705=m
# CONFIG_CHARGER_PCA9468 is not set
# CONFIG_CHARGING_VZWCONCEPT is not set
CONFIG_CMDLINE_EXTEND=y
# CONFIG_CMDLINE_FORCE is not set
# CONFIG_CMDLINE_FROM_BOOTLOADER is not set
CONFIG_CMUCAL=m
CONFIG_CMUCAL_DEBUG=m
CONFIG_CMUCAL_QCH_IGNORE_SUPPORT=m
CONFIG_CMU_EWF=m
# CONFIG_COMPANION_DCDC_USE is not set
CONFIG_COMPOSITE_CLK_SAMSUNG=m
# CONFIG_CPIF_CHECK_SJTAG_STATUS is not set
# CONFIG_CPIF_MBIM is not set
CONFIG_CPIF_TP_MONITOR=m
CONFIG_CP_BTL=m
# CONFIG_CP_LCD_NOTIFIER is not set
CONFIG_CP_LLC=m
CONFIG_CP_PKTPROC=m
# CONFIG_CP_PKTPROC_UL is not set
CONFIG_CP_PMUCAL=m
CONFIG_CP_SECURE_BOOT=m
# CONFIG_CP_UART_NOTI is not set
# CONFIG_CP_ZEROCOPY is not set
# CONFIG_CRYPTO_DEV_EXYNOS_RNG is not set
# CONFIG_CRYPTO_DEV_S5P is not set
# CONFIG_CSIS_V1_2 is not set
# CONFIG_CSIS_V5_2 is not set
# CONFIG_CSIS_V5_3 is not set
CONFIG_CSIS_V5_4=y
CONFIG_DEBUG_SNAPSHOT=m
CONFIG_DEBUG_SNAPSHOT_BUILT_IN=y
CONFIG_DEBUG_SNAPSHOT_FREQ_DOMAIN_NUM=32
CONFIG_DEBUG_SNAPSHOT_LOG_ITEM_SIZE=1024
CONFIG_DEBUG_SNAPSHOT_QUICKDUMP=m
CONFIG_DEBUG_SNAPSHOT_SFRDUMP=m
CONFIG_DECON_BTS_LEGACY=y
CONFIG_DECON_BTS_VRR_ASYNC=y
# CONFIG_DEFAULT_BBR is not set
# CONFIG_DEFAULT_BIC is not set
CONFIG_DEFAULT_CUBIC=y
# CONFIG_DEFAULT_RENO is not set
# CONFIG_DEFEX_KERNEL_ONLY is not set
# CONFIG_DEVFREQ_EVENT_EXYNOS_NOCP is not set
# CONFIG_DEVFREQ_EVENT_EXYNOS_PPMU is not set
# CONFIG_DEV_DAX is not set
CONFIG_DEV_THERMAL=m
# CONFIG_DISABLE_CAMERA_MEM_ATTR is not set
# CONFIG_DISABLE_CAMERA_SIMD is not set
# CONFIG_DISABLE_LOCKSCREEN_USB_RESTRICTION is not set
# CONFIG_DISPLAYPORT_ENG is not set
CONFIG_DISPLAY_USE_INFO=y
CONFIG_DPM_WATCHDOG=y
CONFIG_DPM_WATCHDOG_TIMEOUT=10
# CONFIG_DRM_EXYNOS is not set
# CONFIG_DSIM_CMD_TEST is not set
CONFIG_DYNAMIC_MIPI=y
CONFIG_ECT=m
# CONFIG_ECT_DUMP is not set
# CONFIG_ENABLE_WIRELESS_IRQ_IN_SLEEP is not set
# CONFIG_EVASION_DISP_DET is not set
# CONFIG_EXTEND_LIVE_CLOCK is not set
CONFIG_EXYNOS_ACPM=m
CONFIG_EXYNOS_ACPM_MFD=y
CONFIG_EXYNOS_ACPM_MFD_BUS=m
CONFIG_EXYNOS_ACPM_PLGDBG=m
# CONFIG_EXYNOS_ACPM_S2D is not set
CONFIG_EXYNOS_ACPM_THERMAL=m
# CONFIG_EXYNOS_ADC is not set
CONFIG_EXYNOS_ADV_TRACER=m
CONFIG_EXYNOS_ADV_TRACER_S2D=m
# CONFIG_EXYNOS_AFBC_DEBUG is not set
CONFIG_EXYNOS_AFM=m
CONFIG_EXYNOS_ALT_DVFS=m
CONFIG_EXYNOS_AUDSS_CLK_CON=m
CONFIG_EXYNOS_BCM_DBG=m
# CONFIG_EXYNOS_BCM_DBG_DUMP is not set
# CONFIG_EXYNOS_BCM_DBG_GNR is not set
CONFIG_EXYNOS_BLOCK_MODE=y
# CONFIG_EXYNOS_CHANGE_HIBER_CNT is not set
CONFIG_EXYNOS_CHIPID_V2=m
CONFIG_EXYNOS_COMMON_PANEL=m
CONFIG_EXYNOS_CONTENT_PATH_PROTECTION=m
CONFIG_EXYNOS_CORESIGHT=m
CONFIG_EXYNOS_CPUHP=m
CONFIG_EXYNOS_CPUPM=m
CONFIG_EXYNOS_CPU_PROFILER=m
CONFIG_EXYNOS_CPU_THERMAL=m
# CONFIG_EXYNOS_CURSOR is not set
CONFIG_EXYNOS_DEBUG=y
CONFIG_EXYNOS_DEBUG_FREQ=m
CONFIG_EXYNOS_DEBUG_INFO=y
CONFIG_EXYNOS_DEBUG_TEST=m
# CONFIG_EXYNOS_DECON_BUFFER_SANITY_CHECK is not set
CONFIG_EXYNOS_DECON_DQE=y
# CONFIG_EXYNOS_DECON_LCD_CABC is not set
# CONFIG_EXYNOS_DECON_LCD_COPR is not set
# CONFIG_EXYNOS_DECON_LCD_EA8082 is not set
# CONFIG_EXYNOS_DECON_LCD_S6E3FAB is not set
# CONFIG_EXYNOS_DECON_LCD_S6E3FC3 is not set
CONFIG_EXYNOS_DECON_LCD_S6E3HAB=m
# CONFIG_EXYNOS_DECON_LCD_S6E3HAD is not set
# CONFIG_EXYNOS_DECON_LCD_SPI is not set
CONFIG_EXYNOS_DECON_LCD_SYSFS=y
# CONFIG_EXYNOS_DECON_LCD_TUNING is not set
CONFIG_EXYNOS_DECON_MDNIE_LITE=y
CONFIG_EXYNOS_DEVICE_CAMERA_MODULE=y
CONFIG_EXYNOS_DEVICE_MIPI_CSIS_VER4=y
# CONFIG_EXYNOS_DIRECT_PD_CTRL is not set
CONFIG_EXYNOS_DISPLAYPORT=y
CONFIG_EXYNOS_DISPLAYPORT_MODULE=m
CONFIG_EXYNOS_DIT=m
CONFIG_EXYNOS_DMA_DSIMFC=y
CONFIG_EXYNOS_DOZE=y
CONFIG_EXYNOS_DOZE_HIBERNATION=y
CONFIG_EXYNOS_DPP=y
CONFIG_EXYNOS_DPU30=m
CONFIG_EXYNOS_DP_POWER_CONTROL=y
# CONFIG_EXYNOS_DSIM_DITHER is not set
CONFIG_EXYNOS_DSP=m
# CONFIG_EXYNOS_DSP_HW_N1 is not set
# CONFIG_EXYNOS_DSP_HW_N3 is not set
CONFIG_EXYNOS_DSP_HW_O1=y
# CONFIG_EXYNOS_DSP_HW_O3 is not set
CONFIG_EXYNOS_DVFS_MANAGER=m
CONFIG_EXYNOS_ECC_HANDLER=m
CONFIG_EXYNOS_EHLD=m
CONFIG_EXYNOS_EL2=m
# CONFIG_EXYNOS_EMUL_DISP is not set
CONFIG_EXYNOS_EWR=y
CONFIG_EXYNOS_FLEXPMU_DBG=m
# CONFIG_EXYNOS_FMP_FIPS is not set
CONFIG_EXYNOS_FREQ_HOP=y
CONFIG_EXYNOS_GPU_PROFILER=m
CONFIG_EXYNOS_HARDLOCKUP_DEBUG=m
CONFIG_EXYNOS_HARDLOCKUP_WATCHDOG=m
CONFIG_EXYNOS_HDCP2=m
CONFIG_EXYNOS_HIBERNATION=y
CONFIG_EXYNOS_HIBERNATION_EARLY_WAKEUP=y
CONFIG_EXYNOS_IDLE_PROFILER=m
CONFIG_EXYNOS_IMGLOADER=m
CONFIG_EXYNOS_IOMMU=y
# CONFIG_EXYNOS_IOMMU_DEBUG is not set
# CONFIG_EXYNOS_IRQ_COMBINER is not set
CONFIG_EXYNOS_ITMON=m
CONFIG_EXYNOS_KERNEL_INFO=y
# CONFIG_EXYNOS_LATENCY_MONITOR is not set
CONFIG_EXYNOS_LCD_ENG=y
# CONFIG_EXYNOS_LIMIT_ROTATION is not set
# CONFIG_EXYNOS_LOW_PERSISTENCE is not set
CONFIG_EXYNOS_MCINFO=m
CONFIG_EXYNOS_MEMORY_LOGGER=m
CONFIG_EXYNOS_MIF_PROFILER=m
CONFIG_EXYNOS_MIGOV=m
CONFIG_EXYNOS_MIPI_DSIM=y
CONFIG_EXYNOS_MODEM_IF=m
CONFIG_EXYNOS_MSN=m
CONFIG_EXYNOS_MULTIRESOLUTION=y
CONFIG_EXYNOS_NPU=m
# CONFIG_EXYNOS_NPU_CORE is not set
# CONFIG_EXYNOS_NPU_DEBUG_SRAM_DUMP is not set
CONFIG_EXYNOS_NPU_DRAM_FW_LOG_BUF=y
# CONFIG_EXYNOS_NPU_EXPOSE_KERNEL_ADDR is not set
CONFIG_EXYNOS_NPU_PUBLISH_NPU_BUILD_VER=y
CONFIG_EXYNOS_PABLO_ISP=y
CONFIG_EXYNOS_PCIE_GEN2_S2MPU=m
# CONFIG_EXYNOS_PCI_PM_ASYNC is not set
CONFIG_EXYNOS_PD=m
CONFIG_EXYNOS_PD_DBG=m
CONFIG_EXYNOS_PD_EL3=m
CONFIG_EXYNOS_PERF=m
CONFIG_EXYNOS_PLL_SLEEP=y
CONFIG_EXYNOS_PM=m
CONFIG_EXYNOS_PMU_IF=m
CONFIG_EXYNOS_PM_DVS=m
CONFIG_EXYNOS_PM_QOS=m
CONFIG_EXYNOS_PPMPU_FAIL_DETECTOR=m
CONFIG_EXYNOS_PPMPU_ILLEGAL_ACCESS_PANIC=y
# CONFIG_EXYNOS_PPMPU_ILLEGAL_READ_LOGGING is not set
# CONFIG_EXYNOS_READ_ESD_SOLUTION is not set
CONFIG_EXYNOS_S2MPU=m
CONFIG_EXYNOS_S2MPUFD_FAIL_DETECTOR=y
CONFIG_EXYNOS_S2MPUFD_ILLEGAL_ACCESS_PANIC=y
CONFIG_EXYNOS_S2MPU_PD=y
CONFIG_EXYNOS_SBWC_LIBREQ=y
CONFIG_EXYNOS_SCI=m
CONFIG_EXYNOS_SCI_DBG=m
CONFIG_EXYNOS_SDM=m
CONFIG_EXYNOS_SECURE_LOG=m
CONFIG_EXYNOS_SEH=m
CONFIG_EXYNOS_SET_ACTIVE=y
CONFIG_EXYNOS_SOC_NAME="exynos"
CONFIG_EXYNOS_SSLD=m
CONFIG_EXYNOS_SSP=m
CONFIG_EXYNOS_SUPPORT_8K_SPLIT=y
CONFIG_EXYNOS_SUPPORT_HWFC=y
CONFIG_EXYNOS_SUPPORT_READBACK=y
CONFIG_EXYNOS_SUPPORT_VOTF_IN=y
CONFIG_EXYNOS_SUPPORT_WB=y
CONFIG_EXYNOS_SYSTEM_EVENT=m
CONFIG_EXYNOS_THERMAL_V2=m
CONFIG_EXYNOS_TZASC_FAIL_DETECTOR=m
CONFIG_EXYNOS_TZASC_ILLEGAL_ACCESS_PANIC=y
# CONFIG_EXYNOS_TZASC_ILLEGAL_READ_LOGGING is not set
CONFIG_EXYNOS_UFCC=m
# CONFIG_EXYNOS_VIRTUAL_DISPLAY is not set
CONFIG_EXYNOS_WINDOW_UPDATE=y
CONFIG_F2FS_FS_LZ4=y
CONFIG_F2FS_FS_LZO=y
CONFIG_F2FS_FS_LZORLE=y
CONFIG_F2FS_FS_ZSTD=y
CONFIG_F2FS_SEC_SUPPORT_DNODE_RELOCATION=y
# CONFIG_FB_3DFX is not set
# CONFIG_FB_ARK is not set
# CONFIG_FB_ARMCLCD is not set
# CONFIG_FB_ATY is not set
# CONFIG_FB_ATY128 is not set
# CONFIG_FB_CARMINE is not set
# CONFIG_FB_CIRRUS is not set
# CONFIG_FB_CYBER2000 is not set
# CONFIG_FB_FOREIGN_ENDIAN is not set
# CONFIG_FB_I740 is not set
# CONFIG_FB_IBM_GXT4500 is not set
# CONFIG_FB_KYRO is not set
# CONFIG_FB_MATROX is not set
# CONFIG_FB_MB862XX is not set
# CONFIG_FB_METRONOME is not set
CONFIG_FB_MODE_HELPERS=y
# CONFIG_FB_NEOMAGIC is not set
CONFIG_FB_NOTIFY=y
# CONFIG_FB_NVIDIA is not set
# CONFIG_FB_OPENCORES is not set
# CONFIG_FB_PM2 is not set
# CONFIG_FB_PM3 is not set
# CONFIG_FB_RADEON is not set
# CONFIG_FB_RIVA is not set
# CONFIG_FB_S1D13XXX is not set
# CONFIG_FB_S3 is not set
# CONFIG_FB_SAVAGE is not set
# CONFIG_FB_SIS is not set
# CONFIG_FB_SM712 is not set
# CONFIG_FB_SM750 is not set
# CONFIG_FB_SMSCUFX is not set
# CONFIG_FB_SSD1307 is not set
# CONFIG_FB_TEST is not set
# CONFIG_FB_TFT is not set
# CONFIG_FB_TILEBLITTING is not set
# CONFIG_FB_TRIDENT is not set
# CONFIG_FB_UDL is not set
# CONFIG_FB_UVESA is not set
# CONFIG_FB_VIRTUAL is not set
# CONFIG_FB_VOODOO1 is not set
# CONFIG_FB_VT8623 is not set
# CONFIG_FIRMWARE_EDID is not set
CONFIG_FIRMWARE_SRAM_DUMP_DEBUGFS=y
CONFIG_FIVE_CERT_USER="x509_five_user.der"
# CONFIG_FIVE_DEBUG is not set
CONFIG_FIVE_DEFAULT_HASH="sha1"
CONFIG_FIVE_DEFAULT_HASH_SHA1=y
# CONFIG_FIVE_DEFAULT_HASH_SHA256 is not set
# CONFIG_FIVE_DEFAULT_HASH_SHA512 is not set
CONFIG_FIVE_GKI_10=y
# CONFIG_FIVE_GKI_20 is not set
CONFIG_FIVE_TRUSTED_KEYRING=y
# CONFIG_FLASH_CURRENT_CHANGE_SUPPORT is not set
CONFIG_FSCRYPT_SDP=y
# CONFIG_FUELGAUGE_DUMMY is not set
CONFIG_FUELGAUGE_MAX77705=m
# CONFIG_F_CONN_GADGET_DEBUGFS is not set
# CONFIG_GAF_V3 is not set
# CONFIG_GAF_V4 is not set
# CONFIG_GAF_V5 is not set
CONFIG_GAF_V6=y
# CONFIG_GET_UNMASK_VBUS_HWPARAM is not set
# CONFIG_GPIO_DS_DETECT is not set
CONFIG_GPU_THERMAL=m
# CONFIG_HALL_LOGICAL is not set
# CONFIG_HALL_NOTIFIER is not set
CONFIG_HAVE_S3C2410_WATCHDOG=y
CONFIG_HAVE_S3C_RTC=y
CONFIG_HDCP2_2_ERRATA_SUPPORT=y
CONFIG_HDCP2_DP_ENABLE=y
# CONFIG_HDCP2_EMULATION_MODE is not set
# CONFIG_HDCP2_IIA_ENABLE is not set
# CONFIG_HICCUP_CC_DISABLE is not set
CONFIG_HICCUP_CHARGER=y
CONFIG_HUGEPAGE_POOL=y
CONFIG_HUGEPAGE_POOL_ALLOW_ALL=y
# CONFIG_HUGEPAGE_POOL_DEBUG is not set
CONFIG_HW_RANDOM_EXYNOS_SWD=m
CONFIG_HW_REV_DETECT=m
CONFIG_I2C_EXYNOS5=m
# CONFIG_ICD is not set
# CONFIG_INITRAMFS_FORCE is not set
CONFIG_INTEGRITY_ASYMMETRIC_KEYS=y
CONFIG_INTEGRITY_TRUSTED_KEYRING=y
CONFIG_ION_EXYNOS_HPA_HEAP=y
CONFIG_ION_FD2PHYS=y
# CONFIG_ION_FD2PHYS_USE_ION_FROM_STAGING is not set
CONFIG_ION_FD2PHYS_VARIANT=1
CONFIG_ISP_THERMAL=m
CONFIG_KDP=y
CONFIG_KDP_CRED=y
CONFIG_KDP_NS=y
CONFIG_KEYBOARD_S2MPS23=m
# CONFIG_LINK_CONTROL_MSG_IOSM is not set
# CONFIG_LINK_DEVICE_PCIE is not set
CONFIG_LINK_DEVICE_SHMEM=m
# CONFIG_LINK_DEVICE_WITH_SBD_ARCH is not set
# CONFIG_LOGO is not set
# CONFIG_MALI_2MB_ALLOC is not set
# CONFIG_MALI_ARBITER_SUPPORT is not set
# CONFIG_MALI_ARBITRATION is not set
# CONFIG_MALI_CORESTACK is not set
# CONFIG_MALI_CSF_SUPPORT is not set
# CONFIG_MALI_DEBUG is not set
CONFIG_MALI_DEBUG_KERNEL_SYSFS=y
CONFIG_MALI_DEBUG_SYS=y
# CONFIG_MALI_DEVFREQ is not set
# CONFIG_MALI_DMA_BUF_LEGACY_COMPAT is not set
# CONFIG_MALI_DMA_BUF_MAP_ON_DEMAND is not set
# CONFIG_MALI_DMA_FENCE is not set
CONFIG_MALI_DVFS=y
CONFIG_MALI_EXPERT=y
# CONFIG_MALI_EXYNOS_BLOCK_RPM_WHILE_SUSPEND_RESUME is not set
CONFIG_MALI_EXYNOS_BTS_MO=y
CONFIG_MALI_EXYNOS_CLOCK=y
CONFIG_MALI_EXYNOS_CL_BOOST=y
CONFIG_MALI_EXYNOS_DEBUG=y
# CONFIG_MALI_EXYNOS_DEBUG_FAULT_DUMP is not set
CONFIG_MALI_EXYNOS_DEVICETREE=y
CONFIG_MALI_EXYNOS_DVFS=y
CONFIG_MALI_EXYNOS_GTS=y
# CONFIG_MALI_EXYNOS_IFPO is not set
# CONFIG_MALI_EXYNOS_INTERACTIVE_BOOST is not set
CONFIG_MALI_EXYNOS_LLC=y
CONFIG_MALI_EXYNOS_PM=y
CONFIG_MALI_EXYNOS_QOS=y
CONFIG_MALI_EXYNOS_RTPM=y
CONFIG_MALI_EXYNOS_SECURE_RENDERING_ARM=y
# CONFIG_MALI_EXYNOS_SECURE_RENDERING_LEGACY is not set
# CONFIG_MALI_EXYNOS_SECURE_SMC_NOTIFY_GPU is not set
CONFIG_MALI_EXYNOS_THERMAL=y
# CONFIG_MALI_EXYNOS_UNIT_TESTS is not set
# CONFIG_MALI_EXYNOS_WAKEUP_CLOCK_WA is not set
# CONFIG_MALI_FENCE_DEBUG is not set
# CONFIG_MALI_GATOR_SUPPORT is not set
# CONFIG_MALI_GEM5_BUILD is not set
CONFIG_MALI_HW_ERRATA_1485982_NOT_AFFECTED=y
# CONFIG_MALI_JOB_DUMP is not set
# CONFIG_MALI_MEMORY_FULLY_BACKED is not set
# CONFIG_MALI_MIDGARD_DVFS is not set
# CONFIG_MALI_MIDGARD_ENABLE_TRACE is not set
CONFIG_MALI_NOTIFY_UTILISATION=y
# CONFIG_MALI_NO_MALI is not set
CONFIG_MALI_PLATFORM_NAME="exynos"
CONFIG_MALI_PRFCNT_SET_PRIMARY=y
# CONFIG_MALI_PRFCNT_SET_SECONDARY is not set
# CONFIG_MALI_PRFCNT_SET_TERTIARY is not set
# CONFIG_MALI_PWRSOFT_765 is not set
CONFIG_MALI_REAL_HW=y
# CONFIG_MALI_SEC_G3D_PEAK_NOTI is not set
# CONFIG_MALI_SYSTEM_TRACE is not set
CONFIG_MALI_TSG=y
# CONFIG_MAX77705_CHECK_B2SOVRC is not set
CONFIG_MAX77705_FW_PID03_SUPPORT=y
# CONFIG_MAX77705_FW_SEPARATION_PID_BY_MODEL is not set
# CONFIG_MAX77705_USE_EXTRA_FW is not set
# CONFIG_MAX77705_VIBRATOR is not set
CONFIG_MAXIM_CCIC_ALTERNATE_MODE=y
CONFIG_MCDHDR=y
CONFIG_MCD_PANEL=m
CONFIG_MCINFO_SYSFS=y
CONFIG_MCPS_CHUNK_GRO=y
CONFIG_MCPS_DEBUG=y
CONFIG_MCPS_DEBUG_PRINTK=3
# CONFIG_MCPS_DEBUG_SYSTRACE is not set
CONFIG_MCPS_GRO_ENABLE=y
CONFIG_MCPS_GRO_PER_SESSION=y
# CONFIG_MCPS_ICB is not set
CONFIG_MCPS_ICGB=y
CONFIG_MCPS_ON_EXYNOS=y
CONFIG_MCPS_V2=y
CONFIG_MCU_IPC=m
# CONFIG_MC_SCALER_V5_0 is not set
# CONFIG_MC_SCALER_V8_0 is not set
# CONFIG_MC_SCALER_V8_1 is not set
# CONFIG_MC_SCALER_V8_10 is not set
# CONFIG_MC_SCALER_V8_20 is not set
CONFIG_MC_SCALER_V9_1=y
CONFIG_MFC_USES_LLC=y
# CONFIG_MFC_USE_DMABUF_CONTAINER is not set
# CONFIG_MFD_EXYNOS_LPASS is not set
# CONFIG_MMC_DW_BLUEFIELD is not set
# CONFIG_MMC_DW_DEBUG is not set
CONFIG_MMC_DW_EXYNOS=m
# CONFIG_MMC_DW_HI3798CV200 is not set
# CONFIG_MMC_DW_K3 is not set
# CONFIG_MMC_DW_PCI is not set
CONFIG_MMC_DW_PLTFM=m
# CONFIG_MODEM_IF_LEGACY_QOS is not set
CONFIG_MODEM_IF_QOS=m
CONFIG_MODEM_UTIL=m
# CONFIG_MQTCP_DEBUG_PRINTK is not set
CONFIG_MUIC_AFC_RETRY=y
# CONFIG_MUIC_COMMON_SYSFS is not set
# CONFIG_MUIC_HV is not set
# CONFIG_MUIC_LO_TA_LOW_CURRENT is not set
CONFIG_MUIC_MAX77705=y
CONFIG_MUIC_NOTIFIER=m
# CONFIG_MUIC_QC_DISABLE is not set
CONFIG_MUIC_SUPPORT_PDIC=y
# CONFIG_MUIC_SUPPORT_UART_SEL is not set
# CONFIG_MUIC_UART_SWITCH is not set
# CONFIG_MUIC_USE_MODULE_PARAM is not set
# CONFIG_NFC_PN547_CLK_BBCLK2 is not set
CONFIG_NFC_PN547_ESE_SUPPORT=y
# CONFIG_NFC_PN547_LDO_CONTROL is not set
CONFIG_NF_LOG_COMMON=y
CONFIG_NGKPAD=y
# CONFIG_NPU_ARBITRATION is not set
# CONFIG_NPU_FW_HEADER_FILE is not set
CONFIG_NPU_GOLDEN_MATCH=y
CONFIG_NPU_GOVERNOR_EXYNOS_INTERACTIVE=y
CONFIG_NPU_GOVERNOR_SIMPLE_EXYNOS=y
CONFIG_NPU_GOVERNOR_USERSPACE=y
CONFIG_NPU_HARDWARE=y
CONFIG_NPU_INTERFACE=y
# CONFIG_NPU_LOOPBACK is not set
# CONFIG_NPU_PERF_FW is not set
CONFIG_NPU_SCHEDULER_GOVERNOR=y
# CONFIG_NPU_STM is not set
# CONFIG_NPU_USE_MBR is not set
# CONFIG_NPU_USE_SPROFILER is not set
CONFIG_NPU_USE_VOTF=y
CONFIG_NPU_ZEBU_SYSMMU=y
# CONFIG_OIS_FW_UPDATE_THREAD_USE is not set
CONFIG_OIS_USE=y
# CONFIG_OTG_DEFAULT is not set
CONFIG_PABLO_V9_1_0=y
CONFIG_PANEL_AID_DIMMING=y
# CONFIG_PANEL_BACKLIGHT_PAC_3_0 is not set
CONFIG_PANEL_DEBUG=y
CONFIG_PANEL_DISPLAY_MODE=y
CONFIG_PANEL_NOTIFY=y
CONFIG_PANEL_VRR_BRIDGE=y
# CONFIG_PDIC_USE_MODULE_PARAM is not set
# CONFIG_PDP_V1_0 is not set
# CONFIG_PDP_V1_0_0 is not set
CONFIG_PDP_V3_1=y
# CONFIG_PD_CHARGER_HV_DISABLE is not set
CONFIG_PHY_EXYNOS_DP_VIDEO=y
CONFIG_PHY_EXYNOS_MIPI=m
CONFIG_PHY_EXYNOS_MIPI_DSIM=m
CONFIG_PHY_EXYNOS_MIPI_VIDEO=y
# CONFIG_PHY_EXYNOS_PCIE is not set
CONFIG_PHY_EXYNOS_USBDRD=m
CONFIG_PHY_SAMSUNG_USB_CAL=y
# CONFIG_PHY_SAMSUNG_USB_GEN2 is not set
CONFIG_PINCTRL_EXYNOS=y
CONFIG_PINCTRL_EXYNOS_ARM64=y
# CONFIG_PINCTRL_SEC_GPIO_DVS is not set
CONFIG_PMUCAL=y
# CONFIG_PMUCAL_DBG is not set
# CONFIG_PM_ADVANCED_DEBUG is not set
CONFIG_PM_SLEEP_DEBUG=y
# CONFIG_PM_TEST_SUSPEND is not set
CONFIG_POWER_RESET_EXYNOS=m
CONFIG_PROCA=y
# CONFIG_PROCA_CERTIFICATES_DB is not set
CONFIG_PROCA_CERTIFICATES_XATTR=y
CONFIG_PROCA_CERT_ENG="x509_proca_eng.der"
CONFIG_PROCA_CERT_USER="x509_proca_user.der"
CONFIG_PROCA_GKI_10=y
CONFIG_PROCA_S_OS=y
CONFIG_PROC_CONNECTOR_SELECT_EVENTS=y
CONFIG_PROC_EVENTS=y
CONFIG_PWM_SAMSUNG=m
CONFIG_REGULATOR_S2MPS23=m
CONFIG_REGULATOR_S2MPS24=m
CONFIG_REINIT_VSS=m
CONFIG_RKP=y
CONFIG_RKP_FIMC_CHECK=y
CONFIG_RTC_DRV_S2MPS23=m
CONFIG_RTC_DRV_S3C=m
# CONFIG_RUSTUH_KDP is not set
# CONFIG_RUSTUH_RKP is not set
CONFIG_S2MPS23_ADC=m
CONFIG_S3C2410_SHUTDOWN_REBOOT=y
CONFIG_S3C2410_WATCHDOG=m
# CONFIG_SAMSUNG_TUI_TEST is not set
CONFIG_SBD_BOOTLOG=y
CONFIG_SCHED_EMS_TUNE=y
CONFIG_SCHED_USE_FLUID_RT=y
CONFIG_SCSI_UFS_EXYNOS_FMP=y
CONFIG_SCSI_UFS_EXYNOS_SRPMB=y
# CONFIG_SECURE_CAMERA_USE is not set
# CONFIG_SECURITY_DEFEX_USER is not set
CONFIG_SEC_ABC=m
CONFIG_SEC_ABC_COMMON=m
CONFIG_SEC_ABC_HUB=m
CONFIG_SEC_ABC_HUB_BOOTC=y
# CONFIG_SEC_ABC_HUB_BOOTC_ENG is not set
CONFIG_SEC_ABC_HUB_COND=y
# CONFIG_SEC_ABC_HUB_COND_DAVINCI is not set
CONFIG_SEC_ABC_HUB_CORE=y
CONFIG_SEC_ABC_MOTTO=m
CONFIG_SEC_DEBUG_AUTO_COMMENT=y
CONFIG_SEC_DEBUG_AVOID_UNNECESSARY_TRAP=y
# CONFIG_SEC_DEBUG_BAD_STACK_CAREFULLY is not set
# CONFIG_SEC_DEBUG_BAD_STACK_INFO is not set
CONFIG_SEC_DEBUG_BASE=m
CONFIG_SEC_DEBUG_BASE_BUILT_IN=y
CONFIG_SEC_DEBUG_BUG_ON_SLUB_CORRUPTION=y
CONFIG_SEC_DEBUG_DTASK=y
CONFIG_SEC_DEBUG_EMERG_WDT_CALLER=y
CONFIG_SEC_DEBUG_EXCEPTION_STACK=y
CONFIG_SEC_DEBUG_EXTRA_INFO=m
CONFIG_SEC_DEBUG_EXTRA_INFO_BUILT_IN=y
CONFIG_SEC_DEBUG_FAULT_MSG_ADV=y
# CONFIG_SEC_DEBUG_FPSIMD_CHECK_CONTEXT is not set
CONFIG_SEC_DEBUG_HANDLE_BAD_STACK=y
CONFIG_SEC_DEBUG_HARDLOCKUP_INFO=m
CONFIG_SEC_DEBUG_HIST_LOG=m
CONFIG_SEC_DEBUG_HW_PARAM=m
# CONFIG_SEC_DEBUG_LOCKUP_INFO is not set
CONFIG_SEC_DEBUG_LOGBUF_IF=m
CONFIG_SEC_DEBUG_MEMTAB=y
CONFIG_SEC_DEBUG_MODE=m
# CONFIG_SEC_DEBUG_PM_DEVICE_INFO is not set
CONFIG_SEC_DEBUG_PRINT_PCLR=y
CONFIG_SEC_DEBUG_QSPIN_OWNER=y
CONFIG_SEC_DEBUG_RESET_REASON=m
CONFIG_SEC_DEBUG_SCHED_INFO=m
CONFIG_SEC_DEBUG_SCHED_REPORT=m
CONFIG_SEC_DEBUG_SOFTDOG=m
CONFIG_SEC_DEBUG_STACKTRACE=m
CONFIG_SEC_DEBUG_SUMMARY_LOG=m
# CONFIG_SEC_DEBUG_SYSRQ_KMSG is not set
CONFIG_SEC_DEBUG_TASK_IN_STATE_INFO=y
CONFIG_SEC_DEBUG_UNFROZEN_TASK=y
CONFIG_SEC_DEBUG_WATCHDOGD_FOOTPRINT=m
CONFIG_SEC_DEBUG_WORKQUEUE_LOCKUP_PANIC=y
CONFIG_SEC_DEBUG_WQ_LOCKUP_INFO=m
CONFIG_SEC_DISPLAYPORT=y
CONFIG_SEC_DISPLAYPORT_BIGDATA=y
CONFIG_SEC_DISPLAYPORT_EXT_FUNCTION=m
CONFIG_SEC_DISPLAYPORT_LOGGER=y
CONFIG_SEC_DUMP_SINK=m
# CONFIG_SEC_INPUT_BOOSTER_HANDLER is not set
# CONFIG_SEC_INPUT_BOOSTER_MODE is not set
# CONFIG_SEC_INPUT_BOOSTER_MTK is not set
# CONFIG_SEC_INPUT_BOOSTER_QC is not set
CONFIG_SEC_INPUT_BOOSTER_SLSI=y
CONFIG_SEC_MODEM_S5000AP=m
# CONFIG_SEC_MODEM_S5100 is not set
# CONFIG_SEC_NFC_LOGGER_ADD_ACPM_LOG is not set
# CONFIG_SEC_O1S_PROJECT is not set
# CONFIG_SEC_P3S_PROJECT is not set
# CONFIG_SEC_PANIC_PCIE_ERR is not set
CONFIG_SEC_PMIC_PWRKEY_DTNAME="s2mps23-keys"
CONFIG_SEC_PM_BIGDATA=y
CONFIG_SEC_PM_CPUFREQ=m
CONFIG_SEC_PM_DEBUG=m
CONFIG_SEC_PM_LOG=m
CONFIG_SEC_PM_THERMISTOR=m
# CONFIG_SEC_R9S_PROJECT is not set
# CONFIG_SEC_SND_ADAPTATION is not set
# CONFIG_SEC_T2S_PROJECT is not set
CONFIG_SEC_UFS_WB_FEATURE=m
CONFIG_SEC_WAKEUP_CPU_ALLOCATOR=m
# CONFIG_SELF_MOVE_3PX is not set
# CONFIG_SENSORCORE_MCU_CONTROL is not set
# CONFIG_SENSOR_RETENTION_USE is not set
CONFIG_SERIAL_EXYNOS=m
CONFIG_SERIAL_EXYNOS_UARTS=16
CONFIG_SHM_IPC=m
CONFIG_SIGNATURE=y
CONFIG_SND_EXYNOS_USB_AUDIO=y
CONFIG_SND_EXYNOS_USB_AUDIO_MODULE=m
# CONFIG_SND_SAMSUNG_I2S is not set
# CONFIG_SND_SAMSUNG_PCM is not set
# CONFIG_SND_SAMSUNG_SPDIF is not set
# CONFIG_SND_SOC_ARNDALE_RT5631_ALC5631 is not set
# CONFIG_SND_SOC_ODROID is not set
CONFIG_SND_SOC_SAMSUNG=m
CONFIG_SND_SOC_SAMSUNG_ABOX=m
# CONFIG_SND_SOC_SAMSUNG_ABOX_CHANGE_RMEM_SIZE is not set
# CONFIG_SND_SOC_SAMSUNG_ABOX_DEBUG is not set
CONFIG_SND_SOC_SAMSUNG_ABOX_DRAM_SIZE=0x2800000
CONFIG_SND_SOC_SAMSUNG_ABOX_UDMA=y
CONFIG_SND_SOC_SAMSUNG_ABOX_V3_1=y
CONFIG_SND_SOC_SAMSUNG_ABOX_VERSION=0x30101
CONFIG_SND_SOC_SAMSUNG_AUDIO=m
CONFIG_SND_SOC_SAMSUNG_DISPLAYPORT=m
CONFIG_SND_SOC_SAMSUNG_EXYNOS2100=m
CONFIG_SND_SOC_SAMSUNG_EXYNOS2100_CS35L41_I2C=m
# CONFIG_SND_SOC_SAMSUNG_EXYNOS2100_CS47L92_SPI is not set
# CONFIG_SND_SOC_SAMSUNG_EXYNOS2100_MADERA is not set
# CONFIG_SND_SOC_SAMSUNG_EXYNOS2100_TFA9874 is not set
CONFIG_SND_SOC_SAMSUNG_MAILBOX=m
# CONFIG_SND_SOC_SAMSUNG_SMDK_SPDIF is not set
# CONFIG_SND_SOC_SAMSUNG_SMDK_WM8994 is not set
CONFIG_SND_SOC_SAMSUNG_UNBOUND_PRINCE=m
CONFIG_SND_SOC_SAMSUNG_VTS=m
CONFIG_SND_SOC_SAMSUNG_VTS_S_LIF=m
CONFIG_SND_SOC_SAMSUNG_VTS_S_LIF_VERSION=0x10101
# CONFIG_SND_SOC_SMDK_WM8994_PCM is not set
# CONFIG_SND_SOC_SNOW is not set
CONFIG_SND_SOC_WM_ADSP=m
CONFIG_SOC_SAMSUNG=y
CONFIG_SPECULATIVE_PAGE_FAULT=y
CONFIG_SPI_S3C64XX=m
# CONFIG_SUPPORT_AFC is not set
CONFIG_SUPPORT_AOD_BL=y
# CONFIG_SUPPORT_BRIGHTDOT_TEST is not set
CONFIG_SUPPORT_CCD_TEST=y
# CONFIG_SUPPORT_DDI_CMDLOG is not set
# CONFIG_SUPPORT_DDI_FLASH is not set
# CONFIG_SUPPORT_DISPLAY_PROFILER is not set
CONFIG_SUPPORT_DSU=y
# CONFIG_SUPPORT_DYNAMIC_HLPM is not set
# CONFIG_SUPPORT_ERRFG_RECOVERY is not set
# CONFIG_SUPPORT_GM2_FLASH is not set
CONFIG_SUPPORT_GRAM_CHECKSUM=y
# CONFIG_SUPPORT_HMD is not set
# CONFIG_SUPPORT_ISC_TUNE_TEST is not set
# CONFIG_SUPPORT_MAFPC is not set
# CONFIG_SUPPORT_MAFPC_CRC is not set
# CONFIG_SUPPORT_MASK_LAYER is not set
# CONFIG_SUPPORT_POC_FLASH is not set
# CONFIG_SUPPORT_POC_SPI is not set
# CONFIG_SUPPORT_TIG is not set
CONFIG_TCP_CONG_BBR=y
CONFIG_TCP_CONG_BIC=y
# CONFIG_TCP_CONG_CDG is not set
# CONFIG_TCP_CONG_DCTCP is not set
# CONFIG_TCP_CONG_HSTCP is not set
CONFIG_TCP_CONG_HTCP=m
# CONFIG_TCP_CONG_HYBLA is not set
# CONFIG_TCP_CONG_ILLINOIS is not set
# CONFIG_TCP_CONG_LP is not set
# CONFIG_TCP_CONG_NV is not set
# CONFIG_TCP_CONG_SCALABLE is not set
# CONFIG_TCP_CONG_VEGAS is not set
# CONFIG_TCP_CONG_VENO is not set
CONFIG_TCP_CONG_WESTWOOD=m
# CONFIG_TCP_CONG_YEAH is not set
# CONFIG_TORCH_CURRENT_CHANGE_SUPPORT is not set
CONFIG_TRANSPARENT_HUGEPAGE_ALWAYS=y
# CONFIG_TRANSPARENT_HUGEPAGE_MADVISE is not set
# CONFIG_TRANSPARENT_HUGE_PAGECACHE is not set
# CONFIG_TRUSTONIC_TEE is not set
# CONFIG_TX_GEAR_AOV is not set
CONFIG_TX_GEAR_PHM_VOUT_CTRL=y
# CONFIG_TZDEV_BOOST is not set
# CONFIG_TZIC is not set
CONFIG_TZLOG_PG_CNT=8
# CONFIG_TZLOG_POLLING is not set
CONFIG_TZ_BOOT_LOG_PG_CNT=1
CONFIG_UNUSED_KSYMS_WHITELIST="gki/abi_symbollist.raw"
# CONFIG_UPDATE_BATTERY_DATA is not set
# CONFIG_UPGRADED_WATER_DETECT is not set
CONFIG_USB_AUDIO_ENHANCED_DETECT_TIME=y
# CONFIG_USB_CCIC_NOTIFIER_USING_QC is not set
CONFIG_USB_CONFIGFS_F_PTP=m
# CONFIG_USB_DWC3_DUAL_ROLE is not set
CONFIG_USB_DWC3_EXYNOS=y
CONFIG_USB_DWC3_GADGET=y
CONFIG_USB_DWC3_HAPS=m
CONFIG_USB_DWC3_HOST=y
CONFIG_USB_DWC3_OF_SIMPLE=m
CONFIG_USB_DWC3_QCOM=m
# CONFIG_USB_EHCI_EXYNOS is not set
CONFIG_USB_EXTERNAL_NOTIFY=y
CONFIG_USB_EXYNOS_TPMON=y
CONFIG_USB_EXYNOS_TPMON_MODULE=m
CONFIG_USB_F_CONN_GADGET=m
CONFIG_USB_F_MTP=m
CONFIG_USB_F_PTP=m
CONFIG_USB_F_SS_MON_GADGET=m
# CONFIG_USB_HOST_CERTI is not set
CONFIG_USB_HOST_NOTIFY=y
CONFIG_USB_HW_PARAM=y
CONFIG_USB_NOTIFIER=m
CONFIG_USB_NOTIFY_PROC_LOG=y
CONFIG_USB_PORT_POWER_OPTIMIZATION=y
# CONFIG_USB_PULSE8_CEC is not set
# CONFIG_USB_RAINSHADOW_CEC is not set
# CONFIG_USB_SERIAL_AIRCABLE is not set
# CONFIG_USB_SERIAL_ARK3116 is not set
# CONFIG_USB_SERIAL_BELKIN is not set
# CONFIG_USB_SERIAL_CH341 is not set
# CONFIG_USB_SERIAL_CP210X is not set
# CONFIG_USB_SERIAL_CYBERJACK is not set
# CONFIG_USB_SERIAL_CYPRESS_M8 is not set
# CONFIG_USB_SERIAL_DEBUG is not set
# CONFIG_USB_SERIAL_DIGI_ACCELEPORT is not set
# CONFIG_USB_SERIAL_EDGEPORT is not set
# CONFIG_USB_SERIAL_EDGEPORT_TI is not set
# CONFIG_USB_SERIAL_EMPEG is not set
# CONFIG_USB_SERIAL_F81232 is not set
# CONFIG_USB_SERIAL_F8153X is not set
CONFIG_USB_SERIAL_FTDI_SIO=m
# CONFIG_USB_SERIAL_GARMIN is not set
# CONFIG_USB_SERIAL_GENERIC is not set
# CONFIG_USB_SERIAL_IPAQ is not set
# CONFIG_USB_SERIAL_IPW is not set
# CONFIG_USB_SERIAL_IR is not set
# CONFIG_USB_SERIAL_IUU is not set
# CONFIG_USB_SERIAL_KEYSPAN is not set
# CONFIG_USB_SERIAL_KEYSPAN_PDA is not set
# CONFIG_USB_SERIAL_KLSI is not set
# CONFIG_USB_SERIAL_KOBIL_SCT is not set
# CONFIG_USB_SERIAL_MCT_U232 is not set
# CONFIG_USB_SERIAL_METRO is not set
# CONFIG_USB_SERIAL_MOS7720 is not set
# CONFIG_USB_SERIAL_MOS7840 is not set
# CONFIG_USB_SERIAL_MXUPORT is not set
# CONFIG_USB_SERIAL_NAVMAN is not set
# CONFIG_USB_SERIAL_OMNINET is not set
# CONFIG_USB_SERIAL_OPTICON is not set
# CONFIG_USB_SERIAL_OPTION is not set
# CONFIG_USB_SERIAL_OTI6858 is not set
CONFIG_USB_SERIAL_PL2303=m
# CONFIG_USB_SERIAL_QCAUX is not set
# CONFIG_USB_SERIAL_QT2 is not set
# CONFIG_USB_SERIAL_QUALCOMM is not set
# CONFIG_USB_SERIAL_SAFE is not set
# CONFIG_USB_SERIAL_SIERRAWIRELESS is not set
# CONFIG_USB_SERIAL_SIMPLE is not set
# CONFIG_USB_SERIAL_SPCP8X5 is not set
# CONFIG_USB_SERIAL_SSU100 is not set
# CONFIG_USB_SERIAL_SYMBOL is not set
# CONFIG_USB_SERIAL_TI is not set
# CONFIG_USB_SERIAL_UPD78F0730 is not set
# CONFIG_USB_SERIAL_VISOR is not set
# CONFIG_USB_SERIAL_WHITEHEAT is not set
# CONFIG_USB_SERIAL_WISHBONE is not set
# CONFIG_USB_SERIAL_XIRCOM is not set
# CONFIG_USB_SERIAL_XSENS_MT is not set
# CONFIG_USB_XHCI_DBGCAP is not set
# CONFIG_USB_XHCI_HISTB is not set
CONFIG_USB_XHCI_PCI=m
# CONFIG_USB_XHCI_PCI_RENESAS is not set
CONFIG_USB_XHCI_PLATFORM=m
# CONFIG_USE_CAMERA_LDU is not set
# CONFIG_USE_DEDICATED_MUIC is not set
CONFIG_USE_DISPLAYPORT_PDIC_EVENT_QUEUE=y
CONFIG_USE_LLC_LOG=m
# CONFIG_USE_OIS_TAMODE_CONTROL is not set
CONFIG_USE_PPC_LOG=m
# CONFIG_USE_SECOND_MUIC is not set
CONFIG_USE_SENSOR_GROUP=y
CONFIG_USE_SIGNED_BINARY=y
CONFIG_USE_USB_COMMUNICATIONS_CAPABLE=y
CONFIG_USI_V2=m
CONFIG_V4L2_MEM2MEM_DEV=m
CONFIG_VERIFY_VSS=m
CONFIG_VIDEOBUF2_DMA_SG=m
CONFIG_VIDEO_EXYNOS_CAMERA_POSTPROCESS_GDC=m
CONFIG_VIDEO_EXYNOS_CAMERA_POSTPROCESS_PD_MGR=m
# CONFIG_VIDEO_EXYNOS_CAMERA_POSTPROCESS_STR is not set
CONFIG_VIDEO_EXYNOS_CAMERA_POSTPROCESS_VOTF=m
CONFIG_VIDEO_EXYNOS_SCALER=m
CONFIG_VIDEO_EXYNOS_SMFC=m
# CONFIG_VIDEO_SAMSUNG_EXYNOS4_IS is not set
# CONFIG_VIDEO_SAMSUNG_S5P_CEC is not set
CONFIG_VISION_CORE=y
# CONFIG_VISION_CORE_M is not set
# CONFIG_VISION_UNITTEST is not set
# CONFIG_VRA_V2_0 is not set
CONFIG_WIRELESS_AUTH=y
CONFIG_WIRELESS_CHARGER_HIGH_VOLTAGE=y
CONFIG_WIRELESS_CHARGER_MFC=m
CONFIG_WIRELESS_CHARGING=m
CONFIG_WIRELESS_FIRMWARE_UPDATE=y
CONFIG_WIRELESS_IC_PARAM=y
# CONFIG_WIRELESS_NO_HV is not set
CONFIG_WIRELESS_TX_MODE=y
CONFIG_XARRAY_MULTI=y
CONFIG_YUVPP_V2_1=y
# CONFIG_ZONE_DEVICE is not set
